{
  "extends": ["airbnb-standard"],
  "env": {
  "browser": true,
  "commonjs": true,
  "es6": true,
  "jquery": true
},
  "rules": {
    "semi": [2, "always"],
    "object-curly-spacing": [2, "always"],
    "space-in-parens": [2, "always"],
    "func-names": ["error", "never"],
    "space-before-function-paren": ["error", "never"],
     "no-use-before-define": ["off", { "functions": false, "classes": false, "variables": false }],
     "no-undef": 0,
     "prefer-const": 0,
     "vars-on-top": 0,
     "no-unused-vars": 0,
     "no-var": 0,
     "func-style": [0, "expression", { "allowArrowFunctions": true }],
     "no-param-reassign": ["error", { "props": false }],
     "array-bracket-spacing": ["error", "always", { "singleValue": false }]
  }
}