<div class = "centerFlex">
<p>You are about to initiate a WEG2RT Session</p>
    <form action="">
        Entry Password
        <input type="password" />
        <input type="submit" value="Go Collaborate" id="submit" />
    </form>  
 </div>   
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $("form").submit(function() {
            console.log("password sumbitted");
            var pw = {
                "pw": $("input").val()
            };
            $.post("/", pw, function(response, status) {
                console.log("PW:" + JSON.stringify(pw.pw) + "\nstatus:" + status);
                if (response == "logged in") {
                    location.reload();
                } else {
                    $("body").text(response);
                }
                console.log(JSON.stringify(response));
            });
        });
    });
    </script>