<div class = "centerFlex">
<p id="login-message">Start a New WEG2RT Session</p>
    <form id ="loginform" action="">
    <pre id="error">
</pre>
        <label>Password</label>
        <input type="password" name="password" value="password"/><br>
        <label>Room Name (optional)</label>
        <input type="text" name="roomname" value="roomname"/><br>
        <label>User ID (optional)</label>
        <input type="text" name="uid" value="uid"/><br><br>
        <div id="entryformbutton">
        <input type="submit" id="entry-submit" value="Go Collaborate"  />
        </div>
    </form>
 </div>
 <div class= "about">
 <p>
 <a href="/about">What is this all about?</a>
 </p>
 </div>

    <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower/jquery-serialize-object/dist/jquery.serialize-object.min.js"></script>
    <script>
        $( "#loginform" ).on( "submit",  function( event ) {
            console.log( "password sumbitted" );
            var obj = $( this ).serializeObject();

            $.post( "/", obj, function( response, status ) {
                if ( response == "logged in" ) {
                    location.reload();
                } else {
                    $( "error" ).text( response );
                }
                console.log( JSON.stringify( response ) );
            } );
        } );
    </script>