//jade
div#centerFlex
    p(id="login-message") Start a new WEG2RT Session
    <orm action=""
        Password
        input(type="password", name="password")
        input(type=submit, value="Go Collaborate" id="entry-submit")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(type='text/javascript)$(document).ready(function() {
        $("form").submit(function() {
            console.log("password sumbitted");
            var pw = {
                "pw": $("input").val()
            };
            $.post("/", pw, function(response, status) {
                console.log("PW:" + JSON.stringify(pw.pw) + "\nstatus:" + status);
                if (response == "logged in") {
                    location.reload();
                } else {
                    $("body").text(response);
                }
                console.log(JSON.stringify(response));
            });
        });
    });
