<div class = "centerFlex">
<p id="login-message">Start a New WEG2RT Session</p>
    <form id ="pwform" action="">
        <label>Password</label>
        <input type="password" name="password" value="password"/>
        <label>Room Name</label>
        <input type="text" name="room-name" value="room-name"/><br><br>

        <div id="entryformbutton">
        <input type="submit" id="entry-submit" value="Go Collaborate"  />
        </div>
    </form>
 </div>
 <div class= "about">
 <p>
 <a href="/about">What is this all about?</a>
 </p>
 </div>
        <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
    <script>
    $( document ).ready( function() {
        $( "#pwform" ).submit( function( event ) {
            console.log( "password sumbitted" );
var fields =  $( this ).serializeArray();

     alert(fields[0] );





            var pw = {
                "pw": $( "input" ).val()
            };

            $.post( "/", pw, function( response, status ) {
                console.log( "PW:" + JSON.stringify( pw.pw ) + "\nstatus:" + status );
                if ( response == "logged in" ) {
                    location.reload();
                } else {
                    $( "body" ).text( response );
                }
                console.log( JSON.stringify( response ) );
            } );
        } );
    } );
        </script>