<!DOCTYPE html>
<html>
    <head>
        <title> WEG2RT Room</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <script type="text/javascript" src="/easyrtc/easyrtc.js"></script>
        <script type="text/javascript" src="javascript/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="javascript/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="javascript/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="javascript/socket.js"></script>

        <script type="text/javascript" src="javascript/multiparty.js"></script>

        <link rel="stylesheet" type="text/css" href="/easyrtc/easyrtc.css" />
        <link rel="stylesheet" type="text/css" href="css/room.css" />
        <link rel="stylesheet" type="text/css" href="javascript/jquery-ui/themes/smoothness/jquery-ui.css" />

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

    </head>
    <body onload="appInit()">
        <!--<div id="fullpage"  class="boxCommon" style="background-image:url(images/irongrip.png)"> -->

        <div id="fullpage"  class="boxCommon" style="background-color: #607D8B">

            <video id="box0" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
            <video id="box1" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box2" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box3" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>

            <div id="textentryBox" onsubmit="sendText()" style="display:none" >
                <input type="text" id="textentryField"  class="transit boxcommon" /><br>
                <button id="textentrySubmit" style="float:right;margin-right:1em" onclick="sendText()">Send</button>
                <button id="textentryCancel" style="float:left;margin-left:1em" onclick="cancelText()">Cancel</button>
            </div>
            <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="images/button_close.png" style="display:none;z-index:3" alt="close button" />
            <img id="muteButton" class="transit boxCommon" onclick ="muteActiveBox()" src="images/button_mute.png" style="display:none;z-index:3" alt="mute button" />
            <img id="textEntryButton" class="transit boxCommon" onclick ="showTextEntry()" src="images/textEntry.png" style="z-index:3;display:none" alt="text button" />
            <!--<img id="drawButton"  onclick ="initDraw()" src="images/pencil.png" style="z-index:3;" alt="pencil button" /> -->
        </div>
        <div id="canvaspane"  class="canvasStyle" style="visibility:hidden">
            <canvas id="canvas0" ></canvas>
        </div>

        <div id="utilcanvaspane"  class="canvasStyle" style="visibility:hidden">
            <canvas id="util-canvas" ></canvas>
        </div>

        <div id="layer-menu-button">
        <img src="img/menu48.png" height="50" width="50" alt="menubutton" />
        </div>

        <div id="ui-box">
            <div id="div1"  style="width:60px;height:60px;display:none;background-color:red;"></div><br>
            <div id="div2"  style="width:60px;height:60px;display:none;background-color:green"></div><br>
            <div id="div3" style="width:60px;height:60px;display:none;background-color:blue"></div><br>
           <!-- <img id="textButton"  onclick ="showTextEntry()" src="img/textEntry.png" height="60" width="60" style="z-   index:3; display:none" alt="text button"/><br> -->
            <img id="drawButton"  onclick ="initDraw()" src="img/pencil.png" height="64" width="64" style=" display:none; z-index:3;" alt="pencil button" /><br>
            <img id="utilButton"  onclick="initUtil()" src="img/util.png" height="64" width="64" style=" display:none; z-index:3;" alt="utility button" /><br>
        </div>

        <div id="draw-box" >
            <img id="snailButton" class="fade-swap" src="img/snail-on.png" height="64" width="64" style="display:none; z-index: 3;" alt="snail button" /><br>

            <img id="b1"  src="img/br_status_pass.png" height="64" width="64" style="display:none; z-index: 3;" alt="b1 button" /><br>
        </div>

        <div id="utility-box" >
            <img id="utilTestButton" class="util-swap" src="img/gumby-on.png" height="64" width="64" style="display:none; z-index: 3;" alt="util button" />
        </div>

       <img id="gumby" src="img/gandp.png" alt="gumby" width="220" height="277" style="visibility:hidden">

         <script type="text/javascript"  src="javascript/draw.js" ></script>
         <script type="text/javascript"  src="javascript/util.js" ></script>
         <script type="text/javascript"  src="javascript/ui-manager.js" ></script>

    </body>
</html>
