<!DOCTYPE html>
<html>
    <head>
        <title> WEG2RT Room</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <script type="text/javascript" src="/easyrtc/easyrtc.js"></script>
        <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/bower/underscore/underscore-min.js"></script>
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="javascript/socket.js"></script>

        <script type="text/javascript" src="javascript/multiparty.js"></script>

        <link rel="stylesheet" type="text/css" href="/easyrtc/easyrtc.css" />
        <link rel="stylesheet" type="text/css" href="css/room.css" />
        <link rel="stylesheet" href="bower/jquery-ui/themes/smoothness/jquery-ui.css" />

        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

        <script>

        </script>

    </head>
    <body onload="appInit()">
        <div id="fullpage"  class="boxCommon" style="background-image:url(images/irongrip.png)">

            <video id="box0" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
            <video id="box1" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box2" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box3" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>

            <div id="textentryBox" onsubmit="sendText()" style="display:none" >
                <input type="text" id="textentryField"  class="transit boxcommon" /><br>
                <button id="textentrySubmit" style="float:right;margin-right:1em" onclick="sendText()">Send</button>
                <button id="textentryCancel" style="float:left;margin-left:1em" onclick="cancelText()">Cancel</button>
            </div>
            <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="images/button_close.png" style="display:none;z-index:3" alt="close button" />
            <img id="muteButton" class="transit boxCommon" onclick ="muteActiveBox()" src="images/button_mute.png" style="display:none;z-index:3" alt="mute button" />
            <img id="textEntryButton" class="transit boxCommon" onclick ="showTextEntry()" src="images/textEntry.png" style="z-index:3;display:none" alt="text button" />
            <img id="drawButton" class="transit boxCommon" onclick ="initDraw()" src="images/pencil.png" style="z-index:3;" alt="pencil button" />
        </div>
        <div id="canvaspane"  class="canvasStyle" style="visibility:hidden">
            <canvas id="canvas0" ></canvas>
        </div>

        <div id="toolbar" class="toolbarCenter" style="visibility:hidden">
                 <div>
                 <img src="images/pencil.png" alt="Pencil" height="30" width="30" class="context-image">
                 </div>
                 <div class="slider slider-1"></div>
                <div id="slider-result" >2</div>
                <input type="hidden" id="hidden"/>
                </div>

        </div>
         <script type="text/javascript"  src="javascript/draw.js" ></script>

    </body>
</html>
