<!DOCTYPE html>
<html>
    <head>
        <title> WEG2RT Room</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <script type="text/javascript" src="/javascript/easyrtc.js"></script>
        <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="bower/lodash/lodash.min.js"></script>
        <script type="text/javascript" src="bower/sweetalert/dist/sweetalert.min.js"></script>
        <script type="text/javascript" src="bower/threejs/build/three.min.js"></script>
        <script type="text/javascript" src="bower/tweenjs/src/Tween.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/controls/DeviceOrientationControls.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/renderers/Projector.js"></script>


        <script type="text/javascript" src="bower/leapjs/leap-0.6.4.min.js"></script>
        <script type="text/javascript" src="javascript/leap-plugins-0.1.11.min.js"></script>



        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="bower/materialize/dist/js/materialize.min.js"></script>
        <script type="text/javascript" src="javascript/material-click.js"></script>
        <script type="text/javascript" src="javascript/jquery.longpress.js"></script>
        <script type="text/javascript" src="javascript/jquery.mobile.custom.min.js"></script>
        <script type="text/javascript" src="javascript/static-multiparty.js"></script>

        <link rel="stylesheet" type="text/css" href="/easyrtc/easyrtc.css" />
        <link rel="stylesheet" type="text/css" href="css/room.css" />
        <link rel="stylesheet" type="text/css" href="css/material-click.css" />
        <link rel="stylesheet" type="text/css" href="bower/jquery-ui/themes/smoothness/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="bower/sweetalert/dist/sweetalert.css" />
        <link rel="stylesheet" type="text/css" href="bower/materialize/dist/css/materialize.css" />

    </head>
    <body onload="appInit()">

        <div id="fullpage" class="boxCommon" style="background-color: #78909C">

            <div id="messageFooter"> Message Panel</div>

            <video id="box0" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
            <video id="box1" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box2" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box3" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>

            <img id="avatar0" class="a1" style="visibility:hidden" src="img/avatar0.png"</img>
            <img id="avatar1" class="a1" style="visibility:hidden" src="img/avatar1.png"</img>
            <img id="avatar2" class="a1" style="visibility:hidden" src="img/avatar2.png"</img>
            <img id="avatar3" class="a1" style="visibility:hidden" src="img/avatar3.png"</img>

            <div id="textentryBox" onsubmit="sendText()" style="display:none" >
                <input type="text" id="textentryField"  class="transit boxcommon" /><br>
                <button id="textentrySubmit" style="float:right;margin-right:1em" onclick="sendText()">Send</button>
                <button id="textentryCancel" style="float:left;margin-left:1em" onclick="cancelText()">Cancel</button>
            </div>
        </div>

        <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="images/button_close.png" style="display:none;z-index:3" alt="close button" />

        <img id="muteButton" onclick ="muteActiveBox()" src="img/button_mute.png" height="64" width="64" style="display:none" alt="mute button" /><br>

        <div id="canvaspane"  style="visibility:hidden; pointer-events:none">
            <canvas id="canvas0" style="pointer-events:none"></canvas>
        </div>

        <div id="utilcanvaspane" style="visibility:hidden">
            <canvas id="util-canvas" ></canvas>
        </div>

        <div id="arcanvaspane" style="visibility:hidden">
            <canvas id="ar-canvas" ></canvas>
        </div>

        <div id="leapfull"></div>

        <div id="compassCube" class="compassCube" style="visibility:hidden">
                <div class="face one">DN</div>
                <div class="face two">W</div>
                <div class="face three">UP</div>
                <div class="face four">E</div>
                <div class="face five">S</div>
                <div class="face six">N</div>
            </div>

        <div id="layer-menu-button" class="ui-zindex">
        <img src="img/menu48.png" height="50" width="50" alt="menubutton" />
        </div>

        <div id="main-ui-container" class="ui-zindex">
            <img id="modmeButton" class="ripple-effect" src="img/modme.png" height="64" width="64" style=" display:none" alt="code button" /><br>
            <img id="devmeButton" src="img/devme.png" height="64" width="64" style=" display:none" alt="code button" /><br>
            <img id="arMainButton" src="img/augme.png" height="64" width="64" style=" display:none" alt="code button" /><br>
            <img id="codeDialogButton" class="ripple-effect" src="img/code-input.png" height="64" width="64" style=" display:none" alt="code button" /><br>
            <img id="inviteViaEmail" src="img/email-invite.png" class="ripple-effect" height="64" width="64" style=" display:none" alt="WC button" /><br>
            <img id="textEntryButton" onclick ="showTextEntry()" src="img/textEntry.png" height="64" width="64" style="display:none" alt="text button" /><br>
           <!-- <img id="textButton"  onclick ="showTextEntry()" src="img/textEntry.png" height="60" width="60" style="z-   index:3; display:none" alt="text button"/><br> -->
            <img id="drawButton" class="wave-effect" src="img/pencil.png" height="64" width="64" style=" display:none" alt="pencil button" /><br>
            <img id="utilButton"  class="ripple-effect" src="img/util.png" height="64" width="64" style=" display:none" alt="utility button" /><br>
            <img id="videoButton" class='video-swap' src="img/video-on.png" height="64" width="64" style=" display:none" alt="video button" /><br>
        </div>

        <div id="sticky-ui-container" class="ui-zindex">
            <img id="sticky-compass" src="img/compass.png" height="64" width="64" style="visibility:hidden" alt="aug2" /><br>
            <img id="sticky-ar" class="ripple-effect" src="img/augme.png" height="64" width="64" style="display:visible" alt="focusAR" /><br>
            <img id="sticky-draw" class="ripple-effect" src="img/pencil.png" height="64" width="64" style="display:visible" alt="stickydraw" /><br>
        </div>

        <div id="draw-ui-container" class="ui-zindex">
            <img id="fadeButton" class="fade-swap" src="img/erase-on.png" height="64" width="64" style="display:none" alt="Fade button" /><br>
            <img id="b1"  src="img/br_status_pass.png" height="64" width="64" style="display:none" alt="b1 button" /><br>
        </div>

        <div id="mod-ui-container" class="ui-zindex">
            <img id="focus-participant" class="ripple-effect" title="tooltip" src="img/focus-moderator-off.png" height="64" width="64" style="display:none" alt="mod button" /><br>
            <img id="mod-reset" title="tooltip" class="ripple-effect" src="img/mod-reset.png" height="64" width="64" style="display:none" alt="mod reset" /><br>
        </div>

        <div id="aug-ui-container" class="ui-zindex">
            <img id="shareaug" class="ripple-effect" onclick="shareAr()" src="img/ar-share.png" height="64" width="64" style="display:none" alt="shareaug" /><br>
            <img id="clearaug" class="ripple-effect" src="img/mod-reset.png" height="64" width="64" style="display:none" alt="shareaug" /><br>
        </div>

        <div id="utility-ui-container" class="ui-zindex">
            <img id="doc-button-1" class="doc-pub-1" src="img/document-b.png" height="64" width="64" style="display:none" alt="util button" /><br>
            <img id="doc-button-2" class="doc-pub-2" src="img/document-y.png" height="64" width="64" style="display:none" alt="util button" /><br>
            <img id="bullseye"  class="bullseye-swap" src="img/bullseye.png" height="64" width="64" style="display:none" alt="bullseyebutton" /><br>
            <img id="arch"  class="arch-swap" src="img/arch.png" height="64" width="64" style="display:none" alt="arch" /><br>
        </div>

        <div id="invite-dialog" title="WEG2RT Invite">
            <form action="" method="post">
            <label>Your Name:</label>
            <input id="name" name="name" type="text">
            <label>Invite email:</label>
            <input id="email" name="email" type="text">
            <label>Note:</label>
            <input id="msg" name="mesage" type="text">
            <input id="submit" type="button" value="Invite Collaborator">
            </form>
        </div>

        <div id="codeDialogModal" title="Button Code">
            <form action="" method="post">
            <label>Enter Your Button Code</label>
            <input id="button-code" name="button-code" type="text">
            <input id="submit-code" type="button" value="E  nter">
            </form>
        </div>

       <img id="doc-1" src="img/3D.png" alt="test-document" width="220" height="277" style="visibility:hidden">
       <img id="doc-2" src="img/G-1.png" alt="test-document" width="220" height="277" style="visibility:hidden">
       <img id="material" src="img/conceptual-architecture-v4.png" alt="test-document" width="220" height="277" style="visibility:hidden">

         <script type="text/javascript"  src="javascript/draw.js" ></script>
         <script type="text/javascript"  src="javascript/ar.js" ></script>
         <script type="text/javascript"  src="javascript/util.js" ></script>
         <script type="text/javascript"  src="javascript/button-code.js" ></script>
         <script type="text/javascript"  src="javascript/ui-manager.js" ></script>
         <script type="text/javascript"  src="javascript/video-select.js" ></script>
         <script type="text/javascript"  src="javascript/BroadcastOrientationControls.js" ></script>
         <script type="text/javascript"  src="javascript/hue.js" ></script>
         <script type="text/javascript"  src="javascript/leap.js" ></script>
    </body>
</html>
