<!DOCTYPE html>
<html>
    <head>
        <title> WEG2RT Room</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">
        <script type="text/javascript" src="/javascript/easyrtc.js"></script>
        <script type="text/javascript" src="bower/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="bower/jquery-ui/jquery-ui.min.js"></script>
        <script type="text/javascript" src="bower/lodash/lodash.min.js"></script>
        <script type="text/javascript" src="bower/sweetalert/dist/sweetalert.min.js"></script>

        <script type="text/javascript" src="bower/threejs/build/three.min.js"></script>
        <script type="text/javascript" src="bower/tweenjs/src/Tween.js"></script>
        <script type="text/javascript" src="bower/gsap/src/minified/TweenMax.min.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/controls/DeviceOrientationControls.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/controls/OrbitControls.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/controls/PointerLockControls.js"></script>
        <script type="text/javascript" src="bower/threejs/examples/js/renderers/Projector.js"></script>

        <script type="text/javascript" src="bower/leapjs/leap-0.6.4.min.js"></script>
        <script type="text/javascript" src="javascript/leap-plugins-0.1.11.min.js"></script>

        <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <script type="text/javascript" src="javascript/material-click.js"></script>
        <script type="text/javascript" src="javascript/jquery.longpress.js"></script>
        <script type="text/javascript" src="javascript/jquery.mobile.custom.min.js"></script>

        <script type="text/javascript" src="javascript/static-multiparty.js"></script>

        <link rel="stylesheet" type="text/css" href="/easyrtc/easyrtc.css" />
        <link rel="stylesheet" type="text/css" href="css/room.css" />
        <link rel="stylesheet" type="text/css" href="css/material-click.css" />
        <link rel="stylesheet" type="text/css" href="bower/jquery-ui/themes/smoothness/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="bower/sweetalert/dist/sweetalert.css" />

    </head>
    <body onload="appInit()">

        <div id="fullpage" class="boxCommon" style="background-color: #78909C">

            <div id="messageFooter"> Message Panel</div>
            <p id="iotDeviceId"> IOT Device: 1</p>
            <p id="iotZoneId"> IOT Zone: Steve</p>
            <p id="roomId"> Room:</p>

            <video id="box0" class="transit boxCommon thumbCommon easyRTCMirror" muted="muted" volume="0" ></video>
            <video id="box1" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box2" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>
            <video id="box3" class="transit boxCommon thumbCommon" style="visibility:hidden"></video>

            <img id="avatar0" class="a1" style="visibility:hidden" src="img/avatar0.png"</img>
            <img id="avatar1" class="a1" style="visibility:hidden" src="img/avatar1.png"</img>
            <img id="avatar2" class="a1" style="visibility:hidden" src="img/avatar2.png"</img>
            <img id="avatar3" class="a1" style="visibility:hidden" src="img/avatar3.png"</img>

            <div id="textentryBox" onsubmit="sendText()" style="display:none" >
                <input type="text" id="textentryField"  class="transit boxcommon" /><br>
                <button id="textentrySubmit" style="float:right;margin-right:1em" onclick="sendText()">Send</button>
                <button id="textentryCancel" style="float:left;margin-left:1em" onclick="cancelText()">Cancel</button>
            </div>
        </div>

        <img id="killButton" class="transit boxCommon" onclick="killActiveBox()" src="images/button_close.png" style="display:none;z-index:3" alt="close button" />

        <img id="muteButton" onclick ="muteActiveBox()" src="img/button_mute.png" height="64" width="64" style="display:none" alt="mute button" /><br>

        <div id="canvaspane"  style="visibility:hidden; pointer-events:none">
            <canvas id="canvas0" style="pointer-events:none"></canvas>
        </div>

        <div id="utilcanvaspane" style="visibility:hidden">

            <canvas id="utilcanvas" ></canvas>
        </div>

        <div id="arcanvaspane" class="canvascenter" style="visibility:hidden">

        <svg xmlns="http://www.w3.org/2000/svg"  width="400" height="200" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-100 -100 700 350" id="radial-menu">
        <g id="itemsContainer">
            <a class="item" id="item-1" xlink:href="javascript:loadArModel( 'iot' )" xlink:title="" transform="     matrix(1,0,0,1,0,0)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector" d="M250,250 l250,0 A250,250 0 0,0       452.25424859373686,103.05368692688171 z"></path>
                <use xlink:href="img/weg2rt-defs.svg#weg2rt-bulb" width="40" height="40" x="391.6795959472656" y="        177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)"></use>
            </a>
            <a class="item" id="item-2" xlink:href="javascript:loadArModel( 'pig' )" xlink:title="" transform="matrix(      0.80901,-0.58778,0.58778,0.80901,-99.20056166685515,194.69206447938143)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector" d="M250,250 l250,0 A250,250 0 0,0       452.25424859373686,103.05368692688171 z"></path>
                <use xlink:href="img/weg2rt-defs.svg#weg2rt-pig" width="40" height="40" x="391.6795959472656" y="177.4671173095703        " transform="rotate(72 411.6795959472656 197.4671173095703)"></use>
            </a>
            <a class="item" id="item-3" xlink:href="javascript:loadArModel( 'swordguy' )" xlink:title="" transform="matrix(     0.30901,-0.95105,0.95105,0.30901,-65.01837766752521,410.5098804800515)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector" d="M250,250 l250,0 A250,250 0 0,0       452.25424859373686,103.05368692688171 z"></path>
                <use xlink:href="img/weg2rt-defs.svg#weg2rt-male" width="40" height="40" x="391.6795959472656" y="        177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)"></use>
            </a>
            <a class="item" id="item-4" xlink:href="javascript:loadArModel( 'geometry' )" xlink:title="" transform="        matrix(-0.30901,-0.95105,0.95105,-0.30901,89.49011951994842,565.0183776675252)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector" d="M250,250 l250,0 A250,250 0 0,0       452.25424859373686,103.05368692688171 z"></path>
                <use xlink:href="img/weg2rt-defs.svg#weg2rt-geometry" width="40" height="40" x="391.6795959472656" y="        177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)"></use>
            </a>
            <a class="item" id="item-5" xlink:href="javascript:alert('Just a place holder')" xlink:title="" transform="     matrix(-0.80901,-0.58778,0.58778,-0.80901,305.3079355206185,599.2005616668552)" data-svg-origin="250 250" style="">
                <path fill="none" stroke="#111" stroke-width="1" class="sector" d="M250,250 l250,0 A250,250 0 0,0       452.25424859373686,103.05368692688171 z"></path>
                <use xlink:href="img/symbol-defs.svg#icon-question" width="40" height="40" x="391.6795959472656" y="        177.4671173095703" transform="rotate(72 411.6795959472656 197.4671173095703)"></use>
            </a>
        </g>
        <g id="trigger" class="trigger menu-trigger">
            <circle cx="250" cy="250" r="40"></circle>
            <text id="label" text-anchor="middle" x="250" y="247" fill="#fff" font-size="2em">+</text>
        </g>
        </svg>

        <canvas id="arcanvas" class="canvasorient"></canvas>

        </div>

        <div id="leappane" class="canvascenter">
            <canvas id="leapfull" class="canvasorient"></canvas>
        </div>

        <div id="compassCube" class="compassCube" style="visibility:hidden">
                <div class="face one">DN</div>
                <div class="face two">W</div>
                <div class="face three">UP</div>
                <div class="face four">E</div>
                <div class="face five">S</div>
                <div class="face six">N</div>
            </div>

        <div id="layer-menu-button" class="ui-zindex">
        <img src="img/menu48.png" height="50" width="50" alt="menubutton" />
        </div>

        <div id="main-ui-container" class="ui-zindex">
            <img id="modmeButton" class="ripple-effect" src="img/modme.png" height="64" width="64" style=" display:none" alt="code button" /><br>
            <img id="devmeButton" src="img/devme.png" height="64" width="64" style=" display:none" alt="code button" /><br>

        <svg id="arMainButton" height="64" width="64" style="display:none" alt="AR Button"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-ar"> </use> </svg> <br>

        <svg id="vrMainButton" height="64" width="64" style="display:none" alt="VR Button"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-vr"> </use> </svg> <br>

            <img id="codeDialogButton" class="ripple-effect" src="img/code-input.png" height="64" width="64" style=" display:none" alt="code button" /><br>

            <svg id="leapButton" height="64" width="64" style="display:none" alt="Draw Button"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-hand"> </use> </svg> <br>


        <svg id="inviteViaEmail" height="64" width="64" style="display:none" alt="Email Invite"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-envelope"> </use> </svg> <br>
        <!--    <img id="inviteViaEmail" src="img/email-invite.png" class="ripple-effect" height="64" width="64" style=" display:none" alt="WC button" /><br> -->

        <svg id="textEntryButton" class="ripple-effect" onclick ="showTextEntry()" height="64" width="64" style="display:none" alt=""> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-text"> </use> </svg> <br>


       <!--     <img id="textEntryButton" onclick ="showTextEntry()" src="img/textEntry.png" height="64" width="64" style="display:none" alt="text button" /><br>
            <img id="textButton"  onclick ="showTextEntry()" src="img/textEntry.png" height="60" width="60" style="z-index:3; display:none" alt="text button"/><br> -->


            <svg id="drawButton" class="ripple-effect" height="64" width="64" style="display:none" alt="Draw Button"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-draw"> </use> </svg> <br>

            <img id="utilButton" class="ripple-effect" class="ripple-effect" src="img/util.png" height="64" width="64" style="display:none" alt="utility button" /><br>

            <img id="videoButton" class='video-swap' class="ripple-effect" src="img/video-on.png" height="64" width="64" style=" display:none" alt="video button" /><br>
        </div>

        <div id="sticky-ui-container" class="ui-zindex">
            <img id="sticky-compass" class="ripple-effect" src="img/compass.png" height="64" width="64" style="visibility:hidden" alt="aug2" /><br>



            <img id="sticky-handiot" class="ripple-effect" src="img/hand.png" height="64" width="64" style="visibility:hidden" alt="stickyiot" /><br>


            <svg id="sticky-ar" class="ripple-effect" height="64" width="64" style="display:visible" alt="AR Button"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-ar"> </use> </svg> <br>


            <svg id="sticky-draw" class="ripple-effect" style="display:visible" alt="stickydraw" height="64" width="64" style="display:none" alt="Sticky Draw"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-draw"> </use> </svg> <br>


        </div>

       <div id="draw-ui-container" class="ui-zindex">
         <!--    <img id="fadeButton" class="fade-swap" src="img/erase-on.png" height="64" width="64" style="display:none" alt="Fade button" /><br> -->


        <svg id="fadeButon" class="fade-swap" style="display:none" alt="Fade Button" height="64" width="64" style="display:none" alt="Sticky Erase"> <use xlink:href="img/weg2rt-defs.svg#weg2rt-b-erase"> </use> </svg> <br>


            <img id="b1"  src="img/br_status_pass.png" height="64" width="64" style="display:none" alt="b1 button" /><br>
        </div>

        <div id="mod-ui-container" class="ui-zindex">
            <img id="focus-participant" class="ripple-effect" title="tooltip" src="img/focus-moderator-off.png" height="64" width="64" style="display:none" alt="mod button" /><br>
            <img id="mod-reset" title="tooltip" class="ripple-effect" src="img/mod-reset.png" height="64" width="64" style="display:none" alt="mod reset" /><br>
        </div>

        <div id="aug-ui-container" class="ui-zindex">
            <img id="shareaug" class="ripple-effect"  src="img/ar-share.png" height="64" width="64" style="display:none" alt="shareaug" /><br>
            <img id="clearaug" class="ripple-effect" src="img/mod-reset.png" height="64" width="64" style="display:none" alt="shareaug" /><br>
        </div>

        <div id="utility-ui-container" class="ui-zindex">
            <img id="doc-button-1" class="doc-pub-1" src="img/document-b.png" height="64" width="64" style="display:none" alt="util button" /><br>
            <img id="doc-button-2" class="doc-pub-2" src="img/document-y.png" height="64" width="64" style="display:none" alt="util button" /><br>
            <img id="bullseye"  class="bullseye-swap" src="img/bullseye.png" height="64" width="64" style="display:none" alt="bullseyebutton" /><br>
            <img id="arch"  class="arch-swap" src="img/arch.png" height="64" width="64" style="display:none" alt="arch" /><br>
        </div>

        <div id="invite-dialog" title="WEG2RT Invite">
            <form action="" method="post">
            <label>Your Name:</label>
            <input id="name" name="name" type="text">
            <label>Invite email:</label>
            <input id="email" name="email" type="text">
            <label>Note:</label>
            <input id="msg" name="mesage" type="text">
            <input id="submit" type="button" value="Invite Collaborator">
            </form>
        </div>

        <div id="codeDialogModal" title="Button Code"> </div>


       <img id="doc-1" src="img/3D.png" alt="test-document" width="220" height="277" style="visibility:hidden">
       <img id="doc-2" src="img/G-1.png" alt="test-document" width="220" height="277" style="visibility:hidden">
       <img id="material" src="img/conceptual-architecture-v4.png" alt="test-document" width="220" height="277" style="visibility:hidden">

         <script type="text/javascript"  src="javascript/draw.js" ></script>
         <script type="text/javascript"  src="javascript/ar.js" ></script>
         <script type="text/javascript"  src="javascript/orientation-compass.js" ></script>
         <script type="text/javascript"  src="javascript/util.js" ></script>
         <script type="text/javascript"  src="javascript/button-code.js" ></script>
         <script type="text/javascript"  src="javascript/ui-manager.js" ></script>
         <script type="text/javascript"  src="javascript/video-select.js" ></script>
         <script type="text/javascript"  src="javascript/BroadcastOrientationControls.js" ></script>
         <script type="text/javascript"  src="javascript/vrControls.js" ></script>
         <script type="text/javascript"  src="javascript/BroadcastVrControls.js" ></script>
         <script type="text/javascript"  src="javascript/leap-focus.js" ></script>
         <script type="text/javascript"  src="javascript/leap-peer-hand.js" ></script>
         <script type="text/javascript"  src="javascript/hue.js" ></script>
         <script type="text/javascript"  src="javascript/radial.js" ></script>
    </body>
</html>
