
 .transit {
    transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, transform 1s;
    -moz-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -moz-transform 1s;
    -webkit-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s, -webkit-transform 1s;
    -o-transition: left 1s, top 1s, right 1s, bottom 1s, width 1s, height 1s,-o-transform 1s;
}

/* Radial Menus */

.item {visibility: hidden;}
.item .sector { transition: all .1s linear; fill: #fff; stroke: #111;  }
.item:hover .sector { fill: #b3b3ff; }


.draw-radial-item {visibility: hidden;}
.draw-radial-item .sector { transition: all .1s linear; fill: #fff; stroke: #111;  }
.draw-radial-item:hover .sector { fill: #b3b3ff; }

.ar-radial-item .sector{transition:all .1s linear;fill:#fff;stroke:#111;}
.ar-radial-item:hover .sector,.ar-radial-item:focus .sector{fill:#eee;}
.menu-trigger{fill:#EA2A55;pointer-events:auto;}
.menu-trigger:hover, .menu-trigger:focus{cursor:pointer;}
symbol{overflow:visible;}

.menu-trigger { fill: #EA2A55; pointer-events: auto;}
.menu-trigger:hover { cursor: pointer; }

#ar-radial-container {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  top: 200px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 600px;
  border-radius: 125px 125px 0 0;
  z-index: 300;
}

#layer-radial-container {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  top: 300px;
  left: 90%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 600px;
  border-radius: 125px 125px 0 0;
  z-index: 300;
}

#util-radial-menu {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 600px;
  border-radius: 125px 125px 0 0;
}

.canvasorient {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#iotZoneId {
  position: fixed;
  top: 10px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:  bold;
  z-index: 200;
}

#iotDeviceId {
  position: fixed;
  top: 28px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:  bold;
  z-index: 200;
}

#roomId {
  position: fixed;
  top: 48px;
  left: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight:  bold;
  z-index: 200;
}

#position {
  width: 25px;
  height: 25px;
  position: absolute;
  background-color: blue;
  z-index:  20;
}

#message-bar-container {
    bottom: 0;
    position: fixed;
    width: 75%;
    z-index: 100;
}

#messageFooter {
  position:fixed;
  bottom:0;
  left:50%;
  margin-left:-200px; /*negative half the width */
  vertical-align: middle;
  background:gray;
  width:500px;
  height:35px;
  z-index: 101;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight:  bold;
  border-radius: 25px;
    border: 2px solid gray;
    padding: 2px;
}

.drawMirror {
      -webkit-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
   }

.hidden {
    background-color: transparent;
    border-color: 2px solid blue;
}

.boxCommon {
    position:absolute;
}

.boxCenter {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
}

#invite-dialog {
width: 1000px;
    height: 700px;
    z-index: 100;
}

#selectable {
  z-index: 100;
}

.ui-zindex {
  z-index: 20;
}

#geo-data {
  z-index: 60;
  position: fixed;
  background-color: gray;
  top: 20px;
  right: 250px;
  padding: 10px;
}

#select-video {
  z-index:30;
  position: fixed;
  top: 150px;
  right: 10px;
}

#canvaspane {
  z-index: 22;
}

#utilcanvaspane {
  z-index: 12;
}

#arcanvaspane {
  z-index: 12;
}

#arcanvas {
}

#toolbar {
  z-index: 20;
}
#slider {
  z-index: 20;
}

#layer-menu-button {
  position: fixed;
    bottom: 0px;
    left: 25px;
}

#main-ui-container {
  position: fixed;
    bottom:60px;
    left: 20px;
  }

#draw-ui-container {
  position: fixed;
  top: 220px;
  right: 10px;
}

#utility-ui-container {
  z-index:30;
  position: fixed;
  top: 220px;
  right: 10px;
}

#mod-ui-container {
  z-index:30;
  position: fixed;
  top: 220px;
  right: 10px;
}

#aug-ui-container {
  z-index:200;
  position: fixed;
  top: 220px;
  right: 10px;
}

#sticky-ui-container {
  z-index:200;
  position: fixed;
  bottom: 20px;
  right: 10px;
  background-color: gray;
  border-radius: 25px;
    border: 2px solid gray;
    padding: 4px;
}

.toolbarCenter {
  width:500px;
  height:100px;
  position:absolute;
  bottom:0;
  left: 50%;
  margin-left: -250px;
  background-color: gray;
  border-color: 2px black;
  box-shadow: 5px 5px 5px black;
  z-index: 20;
}

.context-image {
  position: absolute;
    left: 5px;
    top: 5px;
}

#slider-result {
  position: absolute;
  font-size:30px;
  height:200px;
  font-family:Arial, Helvetica, sans-serif;
  color:#383838 ;
  width:250px;
  text-align:right;
  text-shadow:0 1px 1px #000;
  font-weight:700;
  padding:0px 250px 10px 150px;
}

.canvascenter {
    width: 80%;
    height: 100%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:25;
    visibility: hidden;
}

  #leappane {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index:15;
}

#box0 {
  z-index:2;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 2px 0px rgba(0,0,0,0.75);
}

#box1 {
  z-index:2;
  -webkit-box-shadow: 4px 4px 2px 0px #B71C1C;
  -moz-box-shadow: 4px 4px 2px 0px #B71C1C;
  box-shadow: 4px 4px 2px 0px #B71C1C;

  }

#box2 {
  z-index:2;
  -webkit-box-shadow: 4px 4px 2px 0px #00838F;
  -moz-box-shadow: 4px 4px 2px 0px #00838F;
  box-shadow: 4px 4px 2px 0px #00838F;
}

#box3 { z-index:2;
    box-shadow: 10px 10px 10px #D0D0D0;
}

.closeButton {
    display: none; /* hide the easyApp's close button because we have our own */
}

.thumbCommon {
    z-index:2;
    box-shadow: 5px 5px 5px #000000;
}

#controlArea {
    background-color: #ff8000;
}

body {
    background-color:#b0bec5;
    margin-left:0px;
    margin-top:0px;
}

#killButton {
    opacity:0.7;
    position:absolute; !important;
    bottom:10px; !important;
    right:10px; !important;
    z-index: 100;
}

#killButton:hover {s
    opacity:1.0;

}

#muteButton {
    opacity:0.7;
    position:absolute; !important;
    bottom:75px; !important;
    right:10px; !important;
}

#muteButton:hover {
    opacity:1.0;
}

#textentryBox {
    border:2px solid #a0ffa0;
    border-radius:10px;
    z-index:30;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 5px 5px 5px #000000;
    font-family: 'Courier New',Courier,monospace;
}

#textentryField {
    font-size:x-large;
    margin: 20px;
}

#textentrySubmit {
    font-size:larger;
}

#textentryCancel {
    font-size:larger;
}

.a1 {
  z-index: -100;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.compassCube
  {
    width: 60px;
    height: 60px;
    position:fixed;
    bottom:0;
    left:50%;
    margin-left:-200px; /*negative half the width */
    vertical-align: middle;
    margin: 20px auto;
     -webkit-transform-style: preserve-3d;
     transform-style: preserve-3d;
     z-index: 99;
     visibility: visible;
  }

.face
{
   width: 60px;
   height: 60px;
   position: absolute;
   font-size: 30px;
   text-align: center;
   line-height: 60px;
   background-color: #999999;
   box-shadow: inset 0 0 20px #333333;
   opacity: 0.6;
}

.compassCube .one
{
   -webkit-transform: translateZ(75px);
   transform: translateZ(75px);
}

.compassCube .two
{
   -webkit-transform: rotateY(90deg) translateZ(75px);
   transform: rotateY(90deg) translateZ(75px);
}

.compassCube .three
{
   -webkit-transform: rotateY(180deg) translateZ(75px);
   transform: rotateY(180deg) translateZ(75px);
}

.compassCube .four
{
   -webkit-transform: rotateY(-90deg) translateZ(75px);
   transform: rotateY(-90deg) translateZ(75px);
}

.compassCube .five
{
   -webkit-transform: rotateX(90deg) translateZ(75px);
   transform: rotateX(90deg) translateZ(75px);
}

.compassCube .six
{
   -webkit-transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
   transform: rotateX(-90deg) translateZ(75px) rotate(0deg);
}