body {
    /*background*/
    background-color: #000;
    background-position: left;
    background-color:#9E9E9E;
    background-repeat: repeat;
    background-size: contain;
    width: 640px;
    height: 480px;

    /*defaults*/
    font-family: Sans-Serif;
}

.centerFlex {
    font-family: Optima;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    width: 800px;
    height: 200px;
    font-size: 56px;
    color: #fff;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

form    {
    margin:auto;
    position:relative;
    width:550px;
    height:450px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    color: #FFFFFF;
}

#entry-submit {
   border-top: 1px solid #96d1f8;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
   background: -webkit-linear-gradient(top, #ffffff, #ffffff);
   background: -moz-linear-gradient(top, #ffffff, #ffffff);
   background: -ms-linear-gradient(top, #ffffff, #ffffff);
   background: -o-linear-gradient(top, #ffffff, #ffffff);
   padding: 16px 32px;
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 21px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #000000;
   background: #000000;
   color: #ffffff;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }

footer{
    color: #e7e7e7;
    position: absolute ;
    bottom: 0;
    left: 40%;
    text-align: center;
    font-size: small;
}
img{
    vertical-align: bottom;
    height: 18px;
    resize: vertical;
    padding-left: 2px;
}
table{
    width:  100%;
    position: absolute;
}
#buttons{
    font-size: 60%;
    color:  #e7e7e7;
    padding-left: 70px;
}
button{
    padding: 2px;
    background-color: #bdbdbd;
    border: #efefef,solid, 2px;
    color: #000;
    font-size: small;
    font-weight: 600;
}
button:hover{
    background: #e7e7e7;
}
button:disabled{
    background-color: Gray;
    border: 2px, solid, DarkGray;
}

